<a href="https://colab.research.google.com/github/YOUGALAKSHMI/Data-Analysis-Visuvalization/blob/main/day13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("enter your name")
print("hello",name)

enter your nameyouga
hello youga

In [ ]:
city=input("enter the city")
print("welcome to",city)

enter the citychennai
welcome to chennai

In [ ]:
num1=int(input("enter num1:"))
num2=int(input("enter num2:"))
num3=num1*num2
print("product is:",num3)

enter num1:5
enter num2:8
product is: 40

In [ ]:
num1=(input("enter first number:"))
print(num1)
num2=int(input("enter second number:"))
print(num2)
print("type of number:",type(num1))
print("type of number:",type(num2))

enter first number:55
55
enter second number:78
78
type of number: <class 'str'>
type of number: <class 'int'>

In [ ]:
x,y=input("enter two values:").split(",")
print("no.of.boys:",x)
print("no.of.girls:",y)
print()

enter two values:5,55
no.of.boys: 5
no.of.girls: 55